:root {
    --neutral-colorsheadings-black: rgba(93, 90, 136, 1);
    --neutral-colorscolor-900: rgba(141, 139, 167, 1);
    --neutral-colorswhite: rgba(255, 255, 255, 1);
    --neutral-colorscolor-500: rgba(231, 230, 242, 1);
    --neutral-colorscolor-800: rgba(173, 171, 195, 1);
    --neutral-colors-100: rgba(255, 255, 255, 1);
    --primary-colorscolor-1: rgba(251, 86, 96, 1);
    --body-default-font-family: "DMSans-Regular", Helvetica;
    --body-default-font-weight: 400;
    --body-default-font-size: 18px;
    --body-default-letter-spacing: 0px;
    --body-default-line-height: 30px;
    --body-default-font-style: normal;
    --text-single-200-regular-font-family: "DMSans-Regular", Helvetica;
    --text-single-200-regular-font-weight: 400;
    --text-single-200-regular-font-size: 18px;
    --text-single-200-regular-letter-spacing: 0px;
    --text-single-200-regular-line-height: 18px;
    --text-single-200-regular-font-style: normal;
    --text-single-200-bold-font-family: "Onest-Bold", Helvetica;
    --text-single-200-bold-font-weight: 700;
    --text-single-200-bold-font-size: 18px;
    --text-single-200-bold-letter-spacing: 0px;
    --text-single-200-bold-line-height: 20px;
    --text-single-200-bold-font-style: normal;
    --special-headings-display-3-font-family: "DMSans-Bold", Helvetica;
    --special-headings-display-3-font-weight: 700;
    --special-headings-display-3-font-size: 44px;
    --special-headings-display-3-letter-spacing: 0px;
    --special-headings-display-3-line-height: 50px;
    --special-headings-display-3-font-style: normal;
  }
  